<div *ngIf="rootItem">
    <div class="tree-view-current-path">
        <ion-icon name="folder" style="vertical-align: middle"> </ion-icon>
        <ion-button *ngFor="let navStep of navigationStack"                
                    style="vertical-align: middle" 
                    fill="outline" 
                    size="small"
                    (click)="folderClicked(navStep)">        
            {{ navStep.getTitle() }} /</ion-button>
    </div>
    <ion-list>
        <ion-item button
                *ngFor="let treeItem of navigationStack[navigationStack.length-1].subItems()"
                (click)="processItemClick(treeItem)">
            <ion-icon *ngIf="treeItem.getIcon().length" name="{{treeItem.getIcon()}}" item-start></ion-icon>
            {{treeItem.getTitle()}}
        </ion-item>    
    </ion-list>
</div>