

panel-keyboard {
    .basic-op button {
        background-color: darkorange;
    }

    button.shift-on {
        background-color: lightskyblue !important;
    }
}

panel-keyboard .kb-normal {
    ion-row {
        height: 100%;
    }

    button {
        height: 100%;
    }

    ion-grid {        
        height: 100%;
        padding-bottom: 10px;
    }
}

panel-keyboard .kb-reduced  {
    
    ion-col {
        padding: 2px;
    }

    div.scroll-content {
        padding-top: 3px !important;
    }

    button {
        height: 30px;
        padding: 0px;
        margin: 0px;
        font-size: 10pt;
    }
}

