

panel-keyboard {
    display: flex;
    flex-direction: column;

    ion-content {
        flex-grow: 1;
    }


    ion-button {
        width: 100%;
        height: 100%;
        font-size: 9pt;
    }

    .kb-normal {
        ion-grid {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-bottom: 10px;

            ion-row {
                flex-grow: 1;
                flex-basis: 0;
    
            }    
        }   
    }
    
    .kb-reduced  {
    
        div.scroll-content {
            padding-top: 3px !important;
        }
    
        ion-grid {           
            flex-direction: column;
            height: 100%;
            padding-bottom: 10px;
            
            ion-col {
                padding: 2px;
            }
            
            ion-row {
                flex-basis: 40px;
                height: 40px;
            }
        }

    }
    
}

